<p>saved itmes</p>

<% @clips.each do |clip| %>
<%= binding.pry %>
  <div>
    <img src="<%= clip['snippet']['thumbnails']['high']['url'] %>"/>
      <div>Title:  <%= clip['snippet']['title'] %></div>
    <form action="/clips/destory" method="post">
      <%= token_tag %>
      <input type="hidden" name="_method" value="delete">
        <button type="submit">
          Remove
        </button>
    </form>

  </div>

<% end %>

<!--- Receieved/sent list?
<h3> Receieved Playlist </h3>

  <% @rec_clips.each_with_index do |rclip, index| %>
  <ul>
    <li>
      Clip_id of Shared clip is <%= rclip.clip_id %>
    </li>
    <li>
      sent from <%=rclip.receiver.name %>
    </li>
  </ul>
  <% end %>
  --->
