<p>search.html.erb</p>

<!-- query is passed through -->

<% @clips.each_with_index do |clip, index| %>

  <div>
    <div>
      <h2><%= clip[:title] %></h2>
    </div>
    <a href="https://www.youtube.com/watch?v=<%= clip[:url] %>">
      <img src="<%= clip[:thumburl] %>" alt="">
    </a>


    <form action="/clips/save/" method="post">
      <%= token_tag %>

      <input type="hidden" name="query" value="<%= params[:query] %>">
      <input type="hidden" name="clip_id" value="<%= index.to_i %>">
      <button type="submit">Save</button>
    </form>

  </div>

<% end %>
