<p>show.html.erb</p>



<% @clips[:videos].each do |clip| %>

<div>
  <img src="<%= clip['snippet']['thumbnails']['high']['url'] %>"/>
      <div> Title <%= clip['snippet']['title'] %></div>
      <div> video id <%= clip['id']['videoId'] %></div>
    </div>
  </div>
  <form action="/clips/save" method="post">
    <%= token_tag %>
    <input type="hidden" name="video_id" value="<%= clip['id']['videoId'] %>" >
    <input type="hidden" name="id" value="<%= clip.id%>" >
    <button type="submit">Save</button>
  </form>
    <form action="/clips/destroy" method="post">
      <%= token_tag %>
      <input type="hidden" name="_method" value="delete">
      <button type="submit">
     remove
      </button>

</div>
</div>

<% end %>
<i class='fa fa-trash-o'></i>
