<div class="border container">
  <div class="header border sixteen columns">
  <h3>
    Welcome <%= current_user.name %>
  </h3>
    <button type="submit" name="Log out">
    <%= link_to "Log-Out", log_out_path, method: :delete %>
    </button>
  </div>


  <div class="offset-by-six columns">
    <form action="/clips/search" method="get">
      <input type="text" name="query" placeholder="... search for">
      <input type="submit">
  </form>
  </div>

  <div class="bordersixteen columns">
    <h3>Saved Playlist (5 Most Recent saves)</h3>
  <% @clips.first(5).each do |clip| %>

    <table class="border">
      <tr>
        <td>
          <a href="http://www.youtube.com/watch?v=<%= clip.url %>">
            <img src="<%= clip.thumburl %>" >
          </a>
        </td>
        <td>
          <h3>
            <%= clip.title %>
          </h3>
        </td>
        <td>
      <form action="/shares/<%= clip.id %>" method="post">
        <%= token_tag %>
        <input type="text" name="receiver_id" placeholder="Send To:">
        <button type="submit">
          Send
        </button>
      </form>
      <form action="clips/<%= clip.id %>" method='post'>
        <%= token_tag %>
        <input type ="hidden" name="_method" value='delete'>
        <button type="submit">
          Remove
        </button>
      </form>
        </td>
  </table>
<% end %>



<div class="border 12 columns off set">
<div class="share lists">
  <h3>Recent activity list</h3>

  <% @rec_clips.each do |rclip| %>
    <ul>
      <li>You sent <%= rclip.receiver.name %> <%= rclip.clip.title %></li>
    </ul>
  <% end %>
</div>

</div>
