<!-- floating nav bar -->
<div class="header" id="navigation">
  <table class="header">
    <tr>
      <td style="display: inline-block;">
        <i style="padding:10px;" class="fa fa-th-list fa-4x"></i>
        <!-- really a shame about all this inline styling, the rest of
             the styles look nice and clean -->
        <div style="font-size: 30px;
             color:white;
             background-color:red;
             border-radius: 6px;
             width: 70x;
             padding: 5px;
             margin-top: -65px;
             margin-left: 80px;">
          ListTube
        </div>
      </td>
      <td>
        <form style="text-align:center; padding-top:25px;" action="/clips/search" method="get">
          <input type="text" name="query" placeholder="... search for">
          <input type="submit" class="red_button">
      </td>
        </form>

        <td style="text-align: right;
            padding-top: 25px;">
          Welcome <%= current_user.name %>
          <%= button_to "Log Out", log_out_path, :class => "button", :method => :delete %></td>
    </tr>
  </table>

</div>

<!-- main container -->
<div class="white container">

  <div class=" twelve columns">
    <h3>Saved Playlist (5 Most Recent saves)</h3>
    <% @clips.last(5).each do |clip| %>

      <table class="border">
        <tr>
          <td>
            <a href="http://www.youtube.com/watch?v=<%= clip.url %>">
              <img src="<%= clip.thumburl %>" >
            </a>
          </td>
          <td>
            <h3>
              <%= clip.title %>
            </h3>
            <p>
              <form action="/shares/<%= clip.id %>" onsubmit="return validateForm()" method="post">
                <%= token_tag %>
                <input type="text" name="receiver_id" placeholder="Send To:">
                <button type="submit">
                  <i class="fa fa-share fa-2x"></i>
                </button>
              </form>
              <form action="clips/<%= clip.id %>" method='post'>
                <%= token_tag %>
                <input type ="hidden" name="_method" value='delete'>
                <button type="submit">
                  <i class="fa fa-trash-o fa-2x"></i>
                </button>
              </form>
            </p>
          </td>
      </table>
    <% end %>
  </div>


  <div class="activity three columns">
    <h3>Recent activity list</h3>

    <% @rec_clips.each do |rclip| %>
      <ul>
        <li>You sent <%= rclip.receiver.name %> the video "<%= rclip.clip.title %>"</li>
      </ul>
    <% end %>
  </div>
</div>
