<body class="message border">
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  <% end %>


  <div class=" container">
    <div class="white new_user">
      <h5> Create New user </h5>
      <%= form_for @user do |f| %>
        <p><%= f.label :name %></p>
        <%= f.text_field :name %>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <p><%= f.label :password_confirmation %></p>
        <%= f.password_field :password_confirmation %>
        <%= f.submit 'Sign Up'%>
      <% end %>
      <h3 style="text-align:center"> OR </h3>
      <%= form_tag sessions_path do %>
        <p><%= label_tag :name %>
          <%= text_field_tag :name %>
        </p>
        <p><%= label_tag :password %>
          <%= password_field_tag :password %>
        </p>
        <%= submit_tag 'Log In', :class => "red_button"%>
      <% end %>
    </div>
  </div>
</body>
