<h2> Sign up New user </h2>


<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit %>
<% end %>

<%= form_tag sessions_path do %>
 <%= label_tag :name %>
 <%= text_field_tag :name %>
 <%= label_tag :password %>
 <%= password_field_tag :password %>
 <%= submit_tag 'Log In'%>
<% end %>
