<div class="splash_welcome">
<% if current_user %>
  <h3>
    Welcome <%= current_user.name %>
  </h3>
    <%= link_to "Log-Out", log_out_path, method: :delete %>

<form action="/clips/search" method="get">
  <input type="text" name="query" placeholder="... search for">
  <input type="submit">
</form>

<% @clips.each do |clip| %>

  <div>
    <img src="<%= clip.thumburl %>" >
    <form action="clips/edit/<%= clip.id %>" method="get">
      <button type="submit">
        Send
      </button>
    </form>
    <form action="clips/<%= clip.id %>" method='post'>
      <%= token_tag %>
      <input type ="hidden" name="_method" value='delete'>
      <button type="submit">
        Remove
      </button>
    </form>

    <h3>
      <%= clip.title %>
    </h3>
    <h5>
      <%= clip.url %>
    </h5>
    <h5>From: <%= %></h5>
<% end %>
  <% else %>
    <%= link_to "Log-In", log_in_path %>
    <%= link_to "Sign-Up", users_new_path %>
</div>

<% end %>
